<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Book</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrap">
        {{#if success}}
        <h1>Book: {{title}} was added successfully!</h1>
        {{else}}
        <h1>Book: {{title}} already exists!</h1> {{/if}}
        <div>
            <a href="home">
                Back
            </a>
        </div>
    </div>
</body>

</html>