<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style>
        #wrapper {
            display: flex;
            margin: 10px;
        }

        #bookList {
            width: 30%;
        }

        #bookList li {
            cursor: pointer;
        }

        #bookDetails {
            width: 65%;
            padding: 5px 25px;
        }
        #searchForm{
            width: 200px;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div id="root" />

    <script type="text/babel">

        const ListItems = ({ books,filter, show }) => { 
            const items = books.map((book) => { 
                return (
                <li id={book._id} key={book._id} onClick={show}>
                    {book.title} </li>
                ); 
            }); 
            return (
                <span id="bookList">
                    <h2>Books</h2>
                    <ul>{items}</ul>
                </span>
            ) 
        } 
        const Details = (props) => { 
            return (
                <span id="bookDetails">
                    <h2>Details</h2>
                    <form onChange={props.change}>
                        <input type="text" name="title" placeholder="title" value={props.book.title || ""} className="form-control" />
                        <input type="text" name="author" placeholder="author" value={props.book.author || ""} className="form-control" />
                        <input type="text" name="description" placeholder="description" value={props.book.description || ""} className="form-control"/>
                    </form>
                    <button onClick={props.save}>Save</button>
                    <button onClick={props.reset}>Reset</button>
                    <button onClick={props.delete}>Delete</button>
                </span>
            ) 
        } 
        const Search = (props) => { 
            return (
                <span id="searchForm">
                    <input type="text" placeholder="search" value={props.filter} onChange={props.change} className="form-control" />
                </span>
            ); 
        } 
        
        class BookStore extends React.Component { 
            constructor(props) { 
                super(props); 
                this.state = { 
                    books: {{{books}}},
                    selected:{},
                    filter: "" 
                } 
                this.onSearchChange = this.onSearchChange.bind(this); this.onChange = this.onChange.bind(this); 
                this.onSave = this.onSave.bind(this); 
                this.onDelete = this.onDelete.bind(this); 
                this.onClear = this.onClear.bind(this); 
            } 
            showBookDetails(event){
                let selectedBook = this.state.books.find((book) => {
                    return book._id == event.target.id; 
                }); 
                this.setState({ selected: selectedBook }); 
            } 
            onSearchChange(event) { 
                this.setState({filter: event.target.value.toLowerCase()});
            } 
            onClear(){ 
                this.setState({selected: {}}); 
            } 
            onChange(event) { 
                var book = this.state.selected; 
                book[event.target.name] = event.target.value
                this.setState({selected: book}); 
            } 
            onSave() {
                let book = this.state.selected; 
                if (!book.title) {
                     return; 
                } 
                fetch("/books",{ 
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(book) 
                }).then(res => res.json())
                .then((data) => {
                    let newArray; 
                    if(!book._id){
                        newArray = this.state.books; 
                        book._id = data._id; 
                        newArray.push(book)
                    }else{
                        newArray = this.state.books.map((item)=>{
                            if (item._id === book._id) {
                                item = book; 
                            } 
                            return item; 
                        }) 
                    } 
                    this.setState({books:newArray}); 
                }) 
                .catch((err) => {
                    console.log(err); 
                }); 
            } 
            onDelete(){ ////
                let isbn = this.state.selected.isbn;
                fetch("/books/delete/"+ isbn)
                .then((result) => {
                    return result.json();
                })
                .then((results) => {
                    const remainingBooks = this.state.books.filter((book)=> {       return book._id !== this.state.selected._id; 
                    }); 
                    this.setState({books: remainingBooks, selected: {}});
                }); 
            }
            render() { 
                return (
                    <div>
                        <Search filter={this.state.filter} change={this.onSearchChange}/>
                        <div id="wrapper">
                            <ListItems books={this.state.books} filter={this.state.filter} show={this.showBookDetails.bind(this)} />
                            <Details book={this.state.selected} change={this.onChange} save={this.onSave} reset={this.onClear} delete={this.onDelete}/>
                        </div>
                    </div>
                ); 
            } 
        } 
        
        ReactDOM.render(
            <BookStore />, document.getElementById('root'));
    </script>
</body>

</html>